<h2>Sign In</h2>
<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <input name="emailId" #emailId  class="form-control" placeholder="Email Id" required>
        <div *ngIf="emailId.invalid && emailId.touched" class="validation-error">Email Id Required</div>
    </div>
    <div class="form-group">
        <input type="password"  name="password" #password  class="form-control" placeholder="Password" required>
        <div *ngIf="password.invalid && password.touched" class="validation-error">Password is Required</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">Submit</button>
        </div>
        <div class="form-group col-md-6">
                <button type="reset" class="btn btn-lg btn-block btn-danger">Clear</button>
        </div>
    </div>
</form>
